/*
This software is a property of Color Anomaly.
Use of this software for commercial purposes is strictly
prohibited.
*/
/* 
    Created on : Oct 11, 2013, 7:23:58 PM
    Author     : Hussain Nazan Naeem <hussennaeem@gmail.com>
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 40px;
    padding-bottom: 20px;
}