{% extends "registered-page.html.twig" %}

{% block title %}Dequeue{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h1>Serve a Customer - {{ queueId }}</h1>
    
            <p>Click next to serve a waiting customer.</p>

            <form role="form" method="POST">
                <div class="form-group">
                    <input type="submit" class="btn btn-default btn-success" name="act" value="Next">&nbsp;<input type="submit" class="btn btn-default btn-warning" name="act" value="Call">
                </div>
            </form>
            
            {% if msg is not empty %}<p><strong>TOKEN</strong>:&nbsp;<span class="badge">{{ msg|e }}</span></p>{% endif %}
        </div>
    </div>
{% endblock %}