{% extends "registered-page.html.twig" %}

{% block title %}Display{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .jumbotron div.row div:first-child h2 {
            color: #d9534f;
        }
    </style>
{% endblock %}
    
{% block content %}
    {{ parent() }}
    <div id="queues_holder"></div>
    
    {% include "queues-underscore-template.html.twig" %}
{% endblock %}
    
{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="/app/display.js"></script>
{% endblock %}