{% extends "layout.html" %}

{% block title %}Display All{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">        
        ul {
            list-style: none;
        }
        
        ul li:first-child {
            color: brown;
        }
    </style>
    
    <script type="text/javascript" src="app/display-all.js"></script>
{% endblock %}
{% block content %}
    {{ parent() }}
    <div id="queues_holder"></div>
    
    {% include "queues-underscore-template.html" %}
{% endblock %}