{% extends "layout.html.twig" %}

{% block title %}About{% endblock %}
    
{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h2>Quick</h2>
            <p>Queue system built with a DDD approach.</p>
        </div>
    </div>
{% endblock %}