<!DOCTYPE html>
<html >
    <head>
        {% block head %}
            <meta charset="UTF-8">
            
            <title>{% block title %}{% endblock %} - Queue System</title>
            
            <script type="text/javascript" src="lib/js/jquery-2.0.3.min.js"></script>
            <script type="text/javascript" src="lib/js/autobahn.min.js"></script>
            <script type="text/javascript" src="lib/js/underscore-min.js"></script>
            
            <link type="text/css" rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
            <link type="text/css" rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
            <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
            
            <link type="text/css" rel="stylesheet" href="app/css/style.css" />
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">Color Anomaly</a>.
            {% endblock %}
        </div>
    </body>
</html>