{% extends "layout.html" %}

{% block title %}Role Registry{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
    h1 {
        color: blue;
    }
</style>
{% endblock %}
{% block content %}
<h1>Register</h1>
<p>Register as token dispenser, service provider or display screen.</p>
<br>

<form method="POST">
    <label for="queue">Queue</label>
    <select id="queue" name="queue">
        {% for key, name in queues %}
        <option name="{{ key }}">{{ name|e }}</option>
        {% endfor %}
    </select>
    <br>
    <br>

    <label for="role">Register as</label>
    <select id="role" name="role">
        <option value="/enqueue">Dispense token</option>
        <option value="/dequeue">Serve token</option>
        <option value="/display">Display on screen</option>
    </select>
    <br>
    <br>
    
    <label for="counter">Counter label</label>
    <input id="counter" name="counter" type="text">
    <br>
    <br>

    <input type="submit" value="Submit">
</form>

<p>{{ msg }}</p>
{% endblock %}